include header

div(class="ui grid")
	div(class="row")
		div(class="three wide column")
		div(class="ten wide column" id="maincolumn")
			h2(class="ui left aligned header")
				| Your results:

			div
				each recipe in results
					div(class="ui left aligned segment resultsegment")
						h2(class="recipename")= recipe.name
						h4(class="recipedescription")= recipe.description
						include gallery
						div(class="ui segment")
							div(class="ui stackable grid")
								div(class="six wide left aligned column resultcontentleft")
									div(class="ui grid")
										div(class="row")
											div(class="eight wide floated stackable column")
												h3(class="ui header contentsheader") Ingredients:
											div(class="eight wide right aligned stackable column")
												h3(class="ui header")
													span Serves 
													span(class="recipeserves" + recipe.name) 1 
													button(class="ui mini button amount" value=recipe onClick="incrementServe(this.value)") + 
													button(class="ui mini button amount" value=recipe onClick="decrementServe(this.value)") - 
											div(class="row")
												div(class="sixteen wide floated column ingredientlistcolumn")
													div(class="ui bulleted list")
														each ingredient in recipe.ingredients
															div(class="item")
																span(class="ingredientquantity" + recipe.name)= ingredient.quantity 
																| 
																span(class="ingredientunit")= ingredient.unit 
																|  of  
																span(class="ingredientname")= ingredient.name 


								div(class="ten wide left aligned column resultcontentright")
									h3(class="ui header contentsheader") Method:
									div(class="ui list")
										div(class="item") 
											strong Step 1:
											div(class="ui list")
												div(class="item") Do stuff
										div(class="item") 
											strong Step 2:
											div(class="ui list")
												div(class="item") Do more stuff
										div(class="item") 
											strong Step 3:
											div(class="ui list")
												div(class="item") Continue to do stuff
										div(class="item") 
											strong Step 4:
											div(class="ui list")
												div(class="item") Eat the stuff
						include comments
				else
					p There are no values

include footer
script(src="/javascripts/results.js")